In [1]:
from datetime import datetime, timedelta
import requests
import pandas as pd

In [22]:
def get_data(tweet):
    data = {
        'id': tweet['id'],
        'created_at': tweet['created_at'],
        'text': tweet['text']
    }
    return data

In [3]:
with open('C:\\Users\\AlexGolden\\Dropbox (BOSTON UNIVERSITY)\\twitter_stocks_project\\bearer_token.txt') as fp:
    bearer_token = fp.read()

In [5]:
now = datetime.now()
last_week = now - timedelta(days = 7)
two_weeks_ago = last_week - timedelta(days = 7)

In [60]:
endpoint = 'https://api.twitter.com/2/tweets/search/all'
headers = {'authorization': f'Bearer {bearer_token}'}
params = {
    'query': '($tsla) (lang:en)',
    'max_results': '100',
    'tweet.fields':'created_at,lang'
}

In [61]:
dtformat = '%Y-%m-%dT%H:%M:%SZ'

In [62]:
params['end_time'] = (now - timedelta(days = 9)).strftime(dtformat)
params['start_time'] = (now - timedelta(days = 9,minutes = 60)).strftime(dtformat)

In [63]:
print(params['start_time'])
print(params['end_time'])

2021-06-02T10:51:00Z
2021-06-02T11:51:00Z

In [64]:
response = requests.get(endpoint,
                       params=params,
                       headers=headers)

In [65]:
df = pd.DataFrame()

In [66]:
for tweet in response.json()['data']:
    row = get_data(tweet)
    df = df.append(row,ignore_index = True)

In [59]:
response.json()

{'errors': [{'parameters': {'max_results': ['1000']},
   'message': 'The `max_results` query parameter value [1000] is not between 10 and 500'}],
 'title': 'Invalid Request',
 'detail': 'One or more parameters to your request was invalid.',
 'type': 'https://api.twitter.com/2/problems/invalid-request'}

In [67]:
tweet

{'created_at': '2021-06-02T11:27:45.000Z',
 'id': '1400051507496734722',
 'text': 'A recall is issued when a manufacturer or NHTSA determines that a vehicle, equipment, car seat, or tire creates an unreasonable safety risk or fails to meet minimum safety standards. $TSLA https://t.co/188ufNps10',
 'lang': 'en'}

In [26]:
df.iloc[4]['text']

'@elonmusk Someone please use my referral link to join. You will get free stonks and possibly win a #Tesla  #Model3 $TSLA @Tesla @elonmusk   https://t.co/FRyh9Zwdp1'